{% extends 'base.html.twig' %}

{% block title %}New Movie{% endblock %}

{% block body %}
<div class="d-flex container-fluid justify-content-center align-items-center">
    <div class="card" style="width: 80%;">
        <h5 class="card-header">Créer un film</h5>
        <div class="card-body">
            {{ include('movie/_form.html.twig') }}
        </div>
        <div class="card-footer">
            <div class="d-flex gap-2">
                <a class="btn btn-primary" href="{{ path('app_movie_index') }}">Retour</a>

            </div>
        </div>
    </div>
</div>
{% endblock %}
