{% block navbar %}
    <nav class="navbar navbar-light bg-light mb-4">

        <div class="d-flex gap-lg-4 justify-content-center align-items-center">
            <a class="btn btn-outline-light" href="{{path('app_movie_index') }}">
                <img class="navbar-brand m-lg-2" src="{{ asset('build/images/allocine.png') }}" alt="allocine logo" width="150"/>
            </a>
        </div>

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
            {%if is_granted('ROLE_USER') %}
                <a class="btn btn-danger" href="{{path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a class="btn btn-outline-primary" href="{{path('app_login') }}">Connexion</a>
            {% endif %}
        </form>


    </nav>
{% endblock %}